html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(name='viewport' content='width=1024px')
    meta(charset='utf-8')
    title Site_Prorole_Scrolling
    link(href='stylesheets/css/idGeneratedStyles.css' rel='stylesheet' type='text/css')
    link(href='stylesheets/css/myCustomCSS.css' rel='stylesheet' type='text/css')
    script(src='javascripts/FontData.js' type='text/javascript')
    script(src='javascripts/jQuery.js' type='text/javascript')
    script(src='javascripts/myCustomJS.js' type='text/javascript')
    script(src='javascripts/idGeneratedScript.js' type='text/javascript')
  body#Site_Prorole_Scrolling(onload='RegisterInteractiveHandlers();' lang='fr-FR')
    block content
    block jScripts